begin gridder_template
  template_name = k_layer_2
  template_type = attribute_value
  description = ""
  data_field = value
  is_integer = false
  default_value = 0.01
  no_data_value = 0.01
end gridder_template

