begin gridder_template
  template_name = layer2k
  template_type = attribute_value
  description = layer2k
  data_field = value
  is_integer = false
  default_value = 50
  no_data_value = 0
end gridder_template

